<% layout('layout') -%>

<h1>Node Express Bootstrap Demo</h1>
<h2>Random number: <%= randNum %></h2>
<h3>Number of requests: <%= session.count %></h3>

<p>TBacon ipsum dolor amet brisket leberkas salami cow. Cow ball tip pork venison beef hamburger landjaeger ground round andouille pig doner salami biltong. Cow turducken short ribs, jowl kevin pastrami pork loin capicola corned beef. Alcatra short ribs leberkas prosciutto cow doner bacon beef capicola jowl corned beef venison.
</p>

<p>T-bone turducken prosciutto drumstick pig strip steak, tail pork loin. Cow chuck picanha ham, t-bone short ribs beef. Landjaeger biltong shank pork loin, venison short loin kielbasa ham hock tenderloin shankle jerky t-bone rump hamburger pork belly. Ground round meatloaf pancetta salami short ribs tenderloin pastrami jowl tail. Pork loin tail shoulder, pork belly brisket rump pancetta biltong. Pork boudin ball tip beef ribs. Rump beef ribs t-bone fatback kevin pork filet mignon boudin cow spare ribs shank alcatra sirloin pancetta.
</p>

<p>Turkey turducken tenderloin, bresaola picanha t-bone leberkas pig capicola pork loin. Turducken hamburger cupim drumstick, chuck short loin fatback sirloin shoulder porchetta corned beef pancetta pork loin turkey. Andouille t-bone tongue alcatra prosciutto picanha turkey beef. Tri-tip t-bone andouille, kielbasa meatball swine bresaola flank ham porchetta chuck biltong sirloin pancetta. Ribeye venison sirloin shank bresaola leberkas. Rump ham short ribs ribeye swine landjaeger. Chuck ribeye jowl beef ribs, cupim filet mignon kielbasa meatball fatback corned beef tail strip steak.
</p>
<p>
	<a href="#" class="btn btn-primary btn-large">
		Learn more &raquo;
	</a>
</p>
